* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: 'Fugaz One', cursive;
}

header {
    background-color: rgba(255, 255, 255, 0);
}

.navbar-brand {
    font-size: 30px;
}

body {
    background-image: url("../images/background.png");
    background-color: #cccccc;
}

#profile {
    width: 600px;
    margin-top: -40px;
}

#about {
    margin-top: 100px;
}

#work {
    margin-top: 210px;
}

#paragraph {
    margin-top: -10px;
}

#skillsTitle {
    text-align: right;
}

.skills {
    float: right;
    margin-top: 75px;
}

#skills {
    background-color: rgb(209, 47, 147);
}

.fix {
    padding: 5px;
}

footer {
    float: right;
}
