:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #ffd5f5;
    font-family: "Optima", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}


header {
    padding: 20px;
    text-align: left;
    background-color: #266150;
    color: #ffffff;
}

header h1{
    font-size: 48px;
}

header nav {
    padding: 20px;
    font-family: "Optima", sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 10px;
}

header a {
    color: #ffffff;
    text-decoration: wavy underline;
  }

  .about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-me img {
    margin-top: 30px;
    max-width: 300px;
    border: 10px solid #ffff
}

h2 {
    padding: 40px;
    font-size: 36px;
    color: #266150;
    text-decoration: wavy underline;
}

p {
    right: 160px;
    top: 166px;
    width: 57%;
    border: 3px;
    padding: 66px;
}

#about-me {
    color: #266150;
    font-family: "Optima", sans-serif;
    font-size: 20px;
    text-align: center;
}
h3 {
    padding: 40px;
    font-size: 36px;
    color: #266150;
    text-decoration: wavy underline;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 68px;
}

.image {
    border-style: solid;
    border-color: #ffffff;
    border-width: 6px;
    margin: 20px;
    position: relative;
}

.image img {
    max-width: 500px;
}

#bigimg img {
    flex: 0 0 70%;
    max-width: 900px;
}

#smallimg {
    flex: 0 0 20%;
}

.text {
    position: absolute;
    font-size: 22px;
    color: #266150;
    font-weight: 560;
    bottom: 14px;
    background-color: #ffffff;
}

#comingsoon {
    position: absolute;
    font-size: 22px;
    color: #266150;
    font-weight: 560;
    bottom: -433px;
    background-color: #ffffff;
}
h4 {
    padding: 40px;
    font-size: 36px;
    color: #266150;
    text-decoration: wavy underline;
}

.contact-me {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 100px;
}

footer nav {
    padding: 40px;
    font-family: "Optima", sans-serif;
    color: #266150;
    font-size: 20px;
}

footer nav ul li {
    display: inline-block;
    padding: 10px;
}

footer a {
    color: #266150;
    font-weight: 560;
}

a:hover {
    color: #ca4593;
}

section img:hover {
    border: 6px solid #ca4593;
}
